<%- include('../includes/head.ejs') %>
<section class="mts">
  <div class="container pb-5 d-flex flex-column align-items-center justify-content-center">
    <div class="pb-3">
      <a href="/admin/addBrand" class="btn btn-outline-secondary fs-3">Mahsulot Brandini qo'shish</a>
    </div>
    <div class="pb-3">
      <a href="/admin/prodType" class="btn btn-outline-secondary fs-3">Mahsulot turini qo'shish</a>
    </div>
    <div>
      <a href="/add/addProduct" class="btn btn-outline-secondary fs-3">Yangi Mahsulot qo'shish</a>
    </div>
  </div>
</section>
<section class="mbs"></section>
<%- include('../includes/end.ejs') %>
