<%- include('../includes/head.ejs') %>
<section class="mts">
  <div class="container pb-5 d-flex flex-column align-items-center justify-content-center">
    <div class="mb-3">
      <a href="/admin/brand" class="btn btn-warning fs-3">Mahsulot Brandini qo'shish</a>
    </div>
    <div class="mb-3">
      <a href="/admin/type" class="btn btn-warning fs-3">Mahsulot turini qo'shish</a>
    </div>
    <div class="mb-3">
      <a href="/admin/products" class="btn btn-warning fs-3">Yangi Mahsulot qo'shish</a>
    </div>
    <div>
      <a href="/admin/orders" class="btn btn-warning fs-3">Buyurtmalar</a>
    </div>
  </div>
</section>
<section class="mbs"></section>
<%- include('../includes/end.ejs') %>
