<%- include('../includes/head.ejs') %>
<div class="container cart mt-5">
  <div class="row align-items-center">
    <div class="col-md-5 d-flex align-items-center">
      <img src="/images/1681376512722-Isi_LCD_TV.jpg" alt="Product Image" class="product-image" />
      <h4 class="ms-3">Product Name</h4>
    </div>
    <div class="col-md-5">
      <h4>Narxi: $19.99</h4>
      <div class="form-group mt-3">
        <div class="prodNumber input-group">
          <div class="input-group-prepend">
            <button class="btn btn-warning btn-quantity" type="button" id="minusBtn">-</button>
          </div>
          <input type="text" class="form-control fs-3 text-center" id="quantity" value="1" min="1" disabled />
          <div class="input-group-append">
            <button class="btn btn-warning btn-quantity" type="button" id="plusBtn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <h3 id="calculation" class="fw-bold text-danger">Jami</h3>
      <p class="h4" id="subtotal">$19.99</p>
    </div>
  </div>
</div>
<%- include('../includes/end.ejs') %>
